*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#9370DB;
    height: 70px;
    color:white;

}

.home,
.login,
.logout,
.pledge,
.project{
    text-decoration: none;
    color: white;
    font-size: 20px;
    cursor:pointer;
    padding: 20px;


}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: center;
    width:70%
   

}

.mobile-menu-icon{
    display:none;
}

.login{
    border: 1px solid yellow;
    border-radius: 5px;

}

@media screen and (max-width:780px){

    .nav-links{
        display:none;
      
    }

    .nav-links-mobile{
        position: relative;
        display: block;
        list-style: none;
        background-color:#9370DB;
        left: 0;
        transition: all 0.5s ease-out;
        width: 100%;

    }

    .home,
    .login,
    .logout,
    .pledge,
    .project{
        color:white;
        text-align: center;
        padding: 32px;
        width:100%;
        transition: all 0.5s ease;
    }


    .login{
        border: none;
    }

    .mobile-menu-icon{
        display:block;
        position: absolute;
        font-size: 30px;
        color:white;
        background-color:#9370DB;
        border:none;
        top:15px;
        right:25px;
    }



}